<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{0}){cyan} %clr(:){faint} %X{springSecurityUserName} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- not including org/springframework/boot/logging/logback/base.xml because we don't want the file appender
     if that ever changes, we'll want to modify the location of that log from with something like the following
     before that base.xml file is imported

      <property name="LOG_FILE" value="./spring.log"/>
     -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>